<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content >
  <div class="wrapper">
    <div>
      <p>Адрес доставки: {{address}}</p>
    </div>
    <div>
      <p>Тип доставки: {{delivery}}</p>
    </div>
    <div>
      <p>Тип оплаты: {{payment}}</p>
    </div>
    <div>
      <p>Комментарий: {{comment}}</p>
    </div>
    <div>
      <p>Использованный промокод: {{promocode}}</p>
    </div>
    <div>
      <p>Ваш процент скидки: {{discountPercent}}</p>
    </div>
    <div>
      <p>Итоговая сумма без скидок: {{total}}</p>
    </div>
    <div>
      <p class="total">Сумма к оплате: {{total_payment}}</p>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="save()">Подтвердить</button>
  <button mat-raised-button color="accent" (click)="close()">Отменить</button>
</mat-dialog-actions>
